swagger: "2.0"

info:
  version: "0.1.0"
  title: "API"
  description: "API for the Thin Stack"

host: "api.thinstack.io"
basePath: "/v1"
schemes:
  - https

securityDefinitions:
  APIUserPool:
    type: apiKey
    name: Authorization
    description: |
      The `idToken` returned in the **CognitoUserSession** object upon successful login
    in: header
    x-amazon-apigateway-authtype: cognito_user_pools
    x-amazon-apigateway-authorizer:
      type: cognito_user_pools
      providerARNs:
        - arn:aws:cognito-idp:us-west-2:857778067163:userpool/${stageVariables.UserPoolId}

paths:
  /graphql:
    post:
      description: |
        GraphQL endpoint
      consumes:
        - "application/json"
      produces:
        - "application/json"
      responses:
        200:
          description: 200 response
          schema:
            $ref: "#/definitions/Empty"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
      security:
        - APIUserPool: []
      x-amazon-apigateway-integration:
        type: 'aws_proxy'
        httpMethod: 'POST'
        contentHandling: "CONVERT_TO_TEXT"
        credentials: arn:aws:iam::181782121001:role/${stageVariables.ApiRole}
        uri: 'arn:aws:apigateway:us-west-2:lambda:path/2015-03-31/functions/arn:aws:lambda:us-west-2:181782121001:function:${stageVariables.ApiHandler}/invocations'
        responses:
          default:
            statusCode: 200
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'OPTIONS,POST'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,Authorization,X-Amz-Date,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
    options:
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "200 response"
          headers:
            Access-Control-Allow-Origin:
              type: "string"
            Access-Control-Allow-Methods:
              type: "string"
            Access-Control-Allow-Headers:
              type: "string"
      x-amazon-apigateway-integration:
        responses:
          default:
            statusCode: "200"
            responseParameters:
              method.response.header.Access-Control-Allow-Methods: "'OPTIONS,POST'"
              method.response.header.Access-Control-Allow-Headers: "'Content-Type,X-Amz-Date,Authorization,X-Api-Key,X-Amz-Security-Token'"
              method.response.header.Access-Control-Allow-Origin: "'*'"
        requestTemplates:
          application/json: "{\"statusCode\": 200}"
        passthroughBehavior: "when_no_match"
        type: "mock"
definitions:
  Empty:
    type: object
    title: Empty Schema
